instance_type_master = "t2.micro"
instance_type_worker = "t2.micro"
vpc_id =""
ami_id = "ami-98ecb7fe"
count_workers = 2
count_masters = 3
ssh_keyname = ""
security_group_id = ""
elb_subnet_ids = ["subnet-a", "subnet-b", "subnet-c"]
instance_profile = ""
